@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0%;

    font-family: 'Open Sans';
}

body {
    background-color: #ffcdb2;
    color: #6d6875;
}

nav {
    justify-content: space-between;
    display: inline-block;

    background-color: #ffcdb2;
    width: 100%;
    align-content: space-between;
}

.navbar {
    background-color: #ffcdb2;
}

.title {
    float: left;
    padding: 2em;
    background-color: #ffcdb2;
}

.nav-item {
    text-align: right;
    float: right;
    padding: 2em;
    border-bottom: 1px solid #ffcdb2;
    background-color: #ffcdb2;
    transition: 0.4s;
}

.nav-item:hover {
    transition: 0.4s;
    border-bottom: 1px solid #6d6875;
}

.widget {
    width: 20em;
    height: 20em;
 
    margin: 1em;
    border-radius: 15px;
    background-color: #ffb4a2;
    border: 1px solid #6d6875;
    box-shadow: 5px 5px 5px #6d6875;
    transition: 0.2s;
}

.widget:hover {
    width: 21em;
    height: 21em;
    transition: 0.4s;
}

#widget-title {
    padding: 10px;
    background-color: #e5989b;
    color: #6d6875;
    padding: 15px;
    border-bottom: 1px solid #6d6875;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    top: 0px;
}

/* color palette
#6d6875
#b5838d
#e5989b
#ffb4a2
#ffcdb2
*/
